{{! Arquivo: views/tabela.handlebars }}
{{#section 'styles'}}
    <link rel="stylesheet" href="/css/bTabela.css">
{{/section}}

<section id="corpo" class="tabela-page-container">
    <article class="tabelaCompleta" data-classmap="{{classMapJSON}}">
        {{{ renderTabelaPeriodica elementos }}}
    </article>

    <div id="elemento-detalhes-container">

    </div>
</section>

{{#section 'scripts'}}
    <script src="/js/tabela.js"></script>
{{/section}}