{{! Arquivo: views/tabela.handlebars }}
{{#section 'styles'}}
    <link rel="stylesheet" href="/css/bTabela.css">
{{/section}}

<section id="corpo">
    <article class="tabelaCompleta">
        {{{ renderTabelaPeriodica elementos }}}
    </article>

    <div id="elemento-detalhes-container">

    </div>
</section>

{{#section 'scripts'}}
    <script>
        // Recebe o mapa de classes enviado pelo servidor
        const classMap = {{{classMapJSON}}};
    </script>
    <script src="/js/tabela.js"></script>
{{/section}}